.header {
    background-color: bisque;
}

.container {
    display: none;
}

.skeleton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* filter: blur(1px);s */

    .box {
        margin: 15px;
        height: 100px;
        border-radius: 15px;
        animation: colorChange 2s linear infinite;
    }
}

@keyframes colorChange {
    0% {
        background-color: rgb(236, 234, 234);
    }

    50% {
        background-color: rgb(241, 239, 239);
    }

    100% {
        background-color: rgb(236, 234, 234);
    }
}

.card-img {
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

.card p {
    margin-bottom: 8px;
}